html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: url(./images/blockchain-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #777;
  height: 100%;
  
}

.box{
  padding: 40px;
  color: #777;
  border: 2px solid white;
  border-radius: 24px;
  text-align: center;
  background: #111111;
  width: 300px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box h2{
  color: white;
  font-size: 27px;
  font-weight: 500;
}
.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 65%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "password"]:hover{
  width: 90%;
 border-color: gray;
  
}
.box input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 65%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:hover{
  width: 90%;
 border-color: gray;
  
}
.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 30%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "button"]:hover{
  background: #525455;
  border-color: #525455;
 
}

.link{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: whitesmoke;
}
.user{
  text-decoration: none;
  font-size: 27px;
  line-height: 20px;
  color: whitesmoke;
}
.box a:hover
{
  color: #525455;
  text-decoration-line: underline;
}

  
@media (max-width: 400px) {
  .box {width: 200px;
    padding: 20px 40px;}
}